.wrapper {
  width: 70%;
}
.board {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid rgb(113, 113, 113);
  width: 100%;
  padding-bottom: 56.25%;
  margin-top: 10%;
  margin-left: 2vw;
  float: left;
  bottom: 2%;
}

.text {
  padding: 10%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.ActionMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  border: 0.6px solid rgb(215, 215, 215);
  height: 90%;
  width: 24%;
  margin-top: 1%;
  right: 2%;
  float: right;
  bottom: 2%;
}

.ActionButton {
  margin-top: 60%;
  position: relative;
  width: 90%;
  height: 90%;
  border: 0.2px solid rgb(255, 255, 255);
  margin-bottom: 5%;
}

.hexaTab {
  bottom: 2%;
  width: 95%;
  height: 12%;
  position: absolute;
  background-color: rgb(38, 38, 38);
  color: rgb(255, 255, 255);
  font-size: 1em;
}

.hexaTab-top {
  top: 2%;
  width: 95%;
  height: 26%;
  position: absolute;
  background-color: rgb(38, 38, 38);
  color: rgb(255, 255, 255);
  font-size: 1em;
}

.hexadecimal {
  margin-top: 0;
  font-size: 2.5em;
  font-weight: normal;
}

.aligntext {
  padding-left: 1vw;
  padding-top: 0.2vw;
}

.color-picker {
  margin-top: 2.7vw;
  margin-left: 6vw;
  width: 9vw;
  height: 2.3vw;
  text-align: center;
  font-weight: bolder;
  /*border: 0.1px solid rgb(223, 223, 223);*/
}

.pickerstyle {
  inline-size: 0rem;
  margin-top: -10%;
  margin-left: 4%;
  align-items: center;
}

.pickerstyle2 {
  margin-left: 4%;
  align-items: center;
}

.top {
  height: 1.7vw;
  background-image: url("./images/up2.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: 4%;
  left: 3%;
  position: relative;
}

.down {
  height: 1.7vw;
  background-image: url("./images/down2.svg");
  background-repeat: no-repeat;
  background-position: center;
  left: 3%;
  top: 7%;
  position: relative;
}

.left {
  height: 1.7vw;
  background-image: url("./images/left2.svg");
  background-repeat: no-repeat;
  background-position: left;
  position: relative;
  left: 6%;
  margin-top: 10%;
}

.right {
  height: 1.7vw;
  background-image: url("./images/right2.svg");
  background-repeat: no-repeat;
  background-position: right;
  right: 3%;
  margin-top: -8%;
  position: relative;
}

.mediumtext {
  font-weight: lighter;
  margin: 4vw;
}

.layoutName {
  margin-left: 5vw;
  margin-top: 2vw;
  text-align: left;
  font-weight: bold;
}

.instructions {
  text-align: left;
  margin-left: 5vw;
  padding-top: 0.5vw;
  font-weight: normal;
}

.sketch-picker {
  position: absolute;
  left: 7%;
  right: 5%;
  top: 20%;
  margin: 0 auto;
  z-index: 1000;
}

button {
  width: 150px;
  background-color: rgb(253, 209, 53);
  height: 4vw;
  font-size: 0.9rem;
  color: rgb(33, 33, 33);
}
/*
@media screen and (max-width: 300px) {
  .sketch-picker {
      height:100%;
   }
 }*/

.tool {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 80px;
  background-repeat: no-repeat;
}

.tool p {
  width: 70%;
  height: 80%;
  background-image: url("./images/logo.png");
  background-repeat: no-repeat;
  background-position: left center no-repeat;
  margin-left: 0%;
  margin-top: 0.5%;
  overflow: hidden;
}

.title {
  text-align: center;
  font-weight: lighter;
  color: white;
  font-size: 2rem;
  margin: 0 auto;
}
